<div class="map-card-view">
    <div class="map-card-linkLeft <%- linkLeft%>"></div>
    <div class="map-card-linkTop <%- linkTop%>"></div>
    <div class="map-card-container">
        <div class="map-card-title"><%- title %></div>
        <div class="map-card-footer">
            <div class="map-card-number"><%- number %></div>
            <div class="map-card-group"><%- group %></div>
        </div>
        <div class="map-card-icons"></div>
    </div>
</div>
