<div class="map-card-view">
    <div class="map-card-linkLeft <%- linkLeft%>"></div>
    <div class="map-card-linkTop <%- linkTop%>"></div>
    <div class="map-card-container">
        <div class="map-card-title"><%- title %></div>
        <div class="map-card-footer">
            <div class="map-card-group"><%- group %></div>
            <div class="map-card-number"><%- number %></div>
        </div>
        <div class="map-card-icon-container<% for(var i=0; i<icons.length; i++) {%> <%- icons[i] %><% } %>">
            <div class="map-card-icon quiz">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.7 96">
                    <style type="text/css">
                        .st2{fill:none;stroke:#58595B;stroke-width:2.5993;stroke-miterlimit:10;}
                    </style>
                        <path d="M56.9,32.2c0-0.7-0.5-1.2-1.2-1.2c0,0,0,0,0,0H36.4c-0.7,0-1.2,0.5-1.2,1.2v2.6l0,0v0c0,0.7,0.5,1.2,1.2,1.2h0
                            h19.3c0.7,0,1.2-0.5,1.2-1.2v0l0,0L56.9,32.2L56.9,32.2L56.9,32.2z"/>
                        <path d="M56.9,47.2c0-0.7-0.5-1.2-1.2-1.2c0,0,0,0,0,0H36.4c-0.7,0-1.2,0.5-1.2,1.2v2.6l0,0v0c0,0.7,0.5,1.2,1.2,1.2h0
                            h19.3c0.7,0,1.2-0.5,1.2-1.2v0l0,0L56.9,47.2L56.9,47.2L56.9,47.2z"/>
                        <path d="M56.9,61.2c0-0.7-0.5-1.2-1.2-1.2c0,0,0,0,0,0H36.4c-0.7,0-1.2,0.5-1.2,1.2v2.6l0,0v0c0,0.7,0.5,1.2,1.2,1.2h0
                            h19.3c0.7,0,1.2-0.5,1.2-1.2v0l0,0L56.9,61.2L56.9,61.2L56.9,61.2z"/>
                        <path d="M36.2,42.5l-1.7-1.7c-0.1-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.2,0.1l-6.3,6.3l-1.2-1.2
                            c-0.1-0.1-0.3-0.1-0.5,0l-1.7,1.7c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l3.2,3.2c0.1,0.1,0.1,0.1,0.2,0.1c0,0,0,0,0,0
                            c0,0,0,0,0,0c0.1,0,0.2,0,0.2-0.1l8.3-8.3C36.3,42.8,36.3,42.6,36.2,42.5z"/>
                        <path d="M36.2,27.5l-1.7-1.7c-0.1-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.2,0.1l-6.3,6.3l-1.2-1.2
                            c-0.1-0.1-0.3-0.1-0.5,0l-1.7,1.7c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l3.2,3.2c0.1,0.1,0.1,0.1,0.2,0.1c0,0,0,0,0,0
                            c0,0,0,0,0,0c0.1,0,0.2,0,0.2-0.1l8.3-8.3C36.3,27.9,36.3,27.6,36.2,27.5z"/>
                        <path d="M50.3,2.4 M51.9,4 M56.8,17.3l0-9.9l-41.3,0c0,0,0,0,0,0c-2.9,0-5.2,2.4-5.2,5.2c0,0,0,0.1,0,0.1h0v70.6h0
                            c0,0,0,0,0,0c0,2.9,2.4,5.2,5.2,5.2c0.1,0,0.2,0,0.2,0v0h50.5c0.1,0,0.2,0,0.3,0c2.9,0,5.2-2.3,5.2-5.2c0,0,0,0,0-0.1h0V12.7h0h0
                            c0,0,0-0.1,0-0.1c0-2.9-2.3-5.2-5.2-5.2c0,0-0.1,0-0.1,0h-9.6L56.8,17.3 M26.8,65.3 M26.8,65.3 M56.8,17.3h5v61.4h0H20.2V17.3
                            L56.8,17.3 M56.8,18.5"/>
                        <line class="st2" x1="32.6" y1="58.5" x2="26.1" y2="64.9"/>
                        <line class="st2" x1="26.1" y1="58.5" x2="32.6" y2="64.9"/>
                </svg>
            </div>
            <div class="map-card-icon interaction">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path d="M91.5,39.8c-0.3-0.8-1-1.3-1.9-1.3H61.5l-9.6-27.2c-0.3-0.8-1-1.3-1.9-1.3c-0.8,0-1.6,0.5-1.9,1.3l-9.6,27.2
                        H10.4c-0.9,0-1.6,0.5-1.9,1.3c-0.3,0.8,0,1.7,0.7,2.2l22,17.4l-9.8,27.8c-0.3,0.8,0,1.7,0.6,2.2c0.7,0.5,1.6,0.6,2.3,0.2L50,74.2
                        l25.8,15.5c0.3,0.2,0.7,0.3,1,0.3c0.4,0,0.9-0.2,1.3-0.5c0.7-0.5,0.9-1.4,0.6-2.2l-9.8-27.8l22-17.4C91.6,41.5,91.8,40.6,91.5,39.8z
                    "/>
             </svg>
            </div>
            <div class="map-card-icon video">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <path d="M85.5,80.6c2.7,0,5-2.2,5-5V24.3c0-2.7-2.2-5-5-5H14.5c-2.7,0-5,2.2-5,5v51.3c0,2.7,2.2,5,5,5H85.5z
                            M80.6,70.7H19.4V29.3h61.1C80.6,29.3,80.6,70.7,80.6,70.7z"/>
                        <polygon class="st0" points="64.8,50.3 52.8,57.2 40.9,64.1 40.9,50.3 40.9,36.5 52.8,43.4 			"/>
                </svg>
            </div>
        </div>
    </div>
</div>
